<footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(../static/images/TDM1.jpg); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2><a class="navbar-brand" href="index.html"><i class="flaticon-university"></i>Thủ Dầu Một <br><small>University</small></a></h2>
                    <p>Trường Đại học Thủ Dầu Một (tiếng Anh: Thu Dau Mot University) là một trường đại học đa ngành tại Bình Dương, được thành lập theo quyết định số 900/QĐ-TTg ngày 24/06/2009 của Thủ tướng Chính phủ.</p>
                </div>
            </div>

            <div class="col-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Liên hệ với nhóm</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">06 Trần Văn Ơn, Phú Hoà, Thủ Dầu Một, Bình Dương</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 352 931 831, +84 369 772 050</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text"> 2124802010093@student.tdmu.edu.vn, 2124802010510@student.tdmu.edu.vn</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>