{% extends 'layout/base.html' %}{% block title %}
<title>Tìm kiếm - Điểm thi THPT Quốc Gia 2023</title>
{% endblock %} {% block header %} {% include 'layout/navtitle.html '%}{% endblock %} {% block content %}
<section class="ftco-section" style="padding-top: 12px;">
    <div class="container">
        <h2 style="text-align: center; font-weight: bolder;">CRAWL DATA | CỤM THI 2023</h2>
        <div class="col-md-3 offset-md-9 d-flex justify-content-center counter-wrap ftco-animate" style="text-align: center;">
            <div class="block-18 text-center">
                <div class="text">
                    <strong class="number">{{ total_datacumthi_count }}</strong>
                    <span>DATA Cụm thi</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th>Mã Cụm thi</th>
                                <th>Tên Cụm thi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in Cumthi %}
                            <tr>
                                <td><b>{{ i.macumthi }}</b></td>
                                <td>{{ i.tencumthi }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    {% set start_page = 1 %} {% if page > 5 %} {% set start_page = page - 4 %} {% if pages > 5 %}
                    <li><a href="{{ url_for('View_Data_CumThi', page=start_page-1) }}">&lt;</a></li>
                    {% endif %} {% endif %} {% set end_page = start_page + 5 if pages >= start_page + 5 else pages %} {% for idx in range(start_page, end_page + 1) %}
                    <li class="page-item {% if idx == page %}active{% endif %}"><a href="{{ url_for('View_Data_CumThi', page=idx) }}">{{ idx }}</a></li>
                    {% endfor %} {% if pages > 5 and start_page + 4
                    < pages %} <li><a href="{{ url_for('View_Data_CumThi', page=start_page+5) }}">&gt;</a></li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %} {% block footer %}{% include 'layout/footer.html '%}{% endblock %}